GRAFANA_ADMIN_USER=adminuser
GRAFANA_ADMIN_PASSWORD=adminpass
KAFKA_BOOTSTRAP_SERVERS=kafka:19092

# Producer Variables
KAFKA_TOPIC =Vuelos_stream
KAFKA_BROKER =kafka:19092  # Puede variar si se ejecuta interna o externamente
OPENSKY_URI=https://opensky-network.org/api # Esta URL es la base para realizar las peticiones a los diferentes servicios independientes que ofrece la API

# Cassandra
CASSANDRA_HOST=cassandra
CASSANDRA_KEYSPACE=opensky_analytics 

# API USERACCOUNT
OPENSKY_USER=your-user
OPENSKY_SECRET=your-secret

# Coordenadas de la región objetivo
LAMIN=48.0
LOMIN=-2.0
LAMAX=54.0
LOMAX=7.0