GRAFANA_ADMIN_USER=adminuser
GRAFANA_ADMIN_PASSWORD=adminpass
KAFKA_BOOTSTRAP_SERVERS=kafka:19092

# Producer Variables
KAFKA_TOPIC =Vuelos_stream
KAFKA_BROKER =kafka:19092  # Puede variar si se ejecuta interna o externamente
OPENSKY_URI=https://opensky-network.org/api # Esta URL es la base para realizar las peticiones a los diferentes servicios independientes que ofrece la API

# Cassandra
CASSANDRA_HOST=cassandra
CASSANDRA_KEYSPACE=opensky_analytics 
CASSANDRA_URL=cassandra:9042

# API USERACCOUNT
OPENSKY_USER=your-api-client
OPENSKY_SECRET=secret-api

# Coordenadas de la región objetivo
LAMIN=35.0
LOMIN=-10.0
LAMAX=44.0
LOMAX=5.0